<% url = "https://play.google.com/store/apps/details?id=%s&hl=ja" % app["packageid"] %>
<% label = defined?(title) ? title : app["title"] %>
<a href="<%= url %>"
   target="_blank">
  <%= label %>
</a>
