
<div class="container-fluid" id="input-app">     

  <div class="status">
    検索したいアプリ名と基準を入力してください！
  </div>

  <!-- 入力欄 -->
  <label for="input-appname">検索したいアプリ名</label>
  <%= form_tag("/apps/load", remote: true, id: "inputapp") do %>

    <div class="input-group">
      <input type="text" class="form-control" name="name" 
             id="input-appname" placeholder="e.g. angry bird"></input>
      <span class="input-group-btn">
        <button type="submit" class="btn" id="input-submit" name="commit">検索</button>
      </span>
      <input type="hidden" id="crit-result" name="criteria" value=""></input>
    </div>
  <% end %>

  <!-- チェックボックス風ボタンの説明箇所 -->
  
  <label style="margin:0;"> 似ている基準 </label>

  <div class="row checkbox">
    <div class="col-md-12 bands">
      <span class="fa-stack fa-lg unchecked">
        <i class="fa fa-square fa-stack-2x"></i>
      </span>

      <div class="uncheckedline"></div>
      <div class="checkedline"></div>

      <span class="fa-stack fa-lg checked">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-check fa-stack-1x"></i>
      </span>
    </div>

    <!-- チェックボックス風ボタン -->
    <% Applanet::Application.config.charInfo.each do |key, value| %>      
      <div class="col-md-12 char">
        <button type="button"
                <% if Applanet::Application.config.showOnly.include?(key) %>
                class="btn unchecked disabled"
                <% else %>
                class="btn unchecked"
                <% end %>
                state= "up"
                name= <%= key %>>
                <%= value %>
        </button>
      </div>
    <% end %>
    <div class="col-md-12 bands">
      <span class="fa-stack fa-lg unchecked">
        <i class="fa fa-square fa-stack-2x"></i>
      </span>

      <span class="fa-stack fa-lg checked">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-check fa-stack-1x"></i>
      </span>
    </div>
    
  </div>
</div>
