
<div class="container-fluid" id="input-app">     

  <label for="input-appname">検索したいアプリ名</label>
  <%= form_tag("/apps/load", remote: true, id: "inputapp", class: "form-inline") do %>

    <!-- テキストフィールドと検索ボタンを一行に収めるためのグループ -->
    <div class="form-group">
      <input type="text" class="form-control" name="name" 
             id="input-appname" placeholder="e.g. angry bird"></input>
    </div>
    <input type="submit" class="btn btn-primary" id="input-submit" name="commit" value="検索"></input>
    <input type="hidden" id="char-result" name="char" value=""></input>
  <% end %>

  <div class="row chars">

    <div class="col-md-2">
      <span class="fa-stack emptybox">
        <i class="fa fa-square-o fa-stack-2x pull-left"></i>
      </span>
    </div>
    <div class="col-md-8 checklabel">
        <span> 似ている基準 </span>
    </div>
    <div class="col-md-2">
      <span class="fa-stack checkbox pull-right">
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-check fa-stack-1x"></i>
      </span>
    </div>

    <% Applanet::Application.config.charInfo.each do |key, value| %>      
      <div class="col-md-12 char">
        <button type="button"
                <% if Applanet::Application.config.showOnly.include?(key) %>
                class="btn btn-primary pull-left disabled"
                <% else %>
                class="btn btn-primary pull-left"
                <% end %>
                state="up"
                name= <%= key %>>
                <%= value %>
        </button>
      </div>
    <% end %>
  </div>
</div>
