<div class="container-fluid">
  <div class="row">   <!– グリッドを使用 –>
  <div class="col-md-1 yaxis">
  </div>
  <div class="col-md-11 chart">
    <div id="chart"></div>     
  </div>
</div>
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-11 xaxis text-center">
  </div>
</div>
</div>
