/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require twitter-bootstrap-static/bootstrap
 *= require jqplot
 *= require_tree .
 *= require_self
 */




.accordion-heading.heading {
    font-size:200%; 
    text-align:left;
    padding-left:30px;
}

.accordion-body#heading>div {
    font-size:100%; 
    text-align:left;
    padding-left:30px;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#DAE4F6;
}
.accordion-heading.howto {
    font-size:200%; 
    text-align:right;
    padding-right:30px;
}
.accordion-body#howto>div {
    font-size:100%; 
    text-align:right;
    padding-right:30px;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#DAE4F6;
}
.accordion-heading.content {
    font-size:200%; 
    text-align:center;
}
/* 子供にのみ！ */
.accordion-body#content>div {
}
#msg {
    font-size:160%;
    vertical-align:top; 
}

#chart {
    width:90%;
    height:auto;
}
#char-togglebuttons * {
    width:80%;
}
body {
    background-color:#dcdcdc
}